name: Test
on:
  push:
    branches:
      - 'fix-**'
      - 'feat-**'
      - develop
      - master
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          # Ruby 2.7.6
          - ruby: '2.7.6'
            gemfile: gemfiles/ruby_2.7_rails_6.gemfile
          - ruby: '2.7.6'
            gemfile: gemfiles/ruby_2.7_rails_7.gemfile
          # Ruby 3.0.7
          - ruby: '3.0.7'
            gemfile: gemfiles/ruby_3.0_rails_6.gemfile
          - ruby: '3.0.7'
            gemfile: gemfiles/ruby_3.0_rails_7.gemfile
          # Ruby 3.1.7
          - ruby: '3.1.7'
            gemfile: gemfiles/ruby_3.1_rails_6.gemfile
          - ruby: '3.1.7'
            gemfile: gemfiles/ruby_3.1_rails_7.gemfile
    env:
      BUNDLE_GEMFILE: ${{ matrix.gemfile }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - run: bundle exec rake t
